.text-container {
  max-width: 700px;
  margin: auto;
}

.text-container h1 {
  padding-top: 100px;
  text-decoration: underline var(--clr-primary);
  text-decoration-thickness: 5px;
}

.text-container__link {
  word-break: break-all;
}

.server-list {
  list-style-position: inside;
  padding: 10px;
}
